/*!* Custom avatar*!*/
.personal-image {
    text-align: center;
}
.personal-image input[type="file"] {
    display: none;
}
.personal-figure {
    position: relative;
    width: 120px;
    height: 120px;
}
.personal-avatar {
    cursor: pointer;
    width: 120px;
    height: 120px;
    box-sizing: border-box;
    border-radius: 100%;
    border: 2px solid transparent;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
    transition: all ease-in-out .3s;
}
.personal-figcaption {
    cursor: pointer;
    position: absolute;
    top: 0px;
    width: inherit;
    height: inherit;
    border-radius: 100%;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0);
    transition: all ease-in-out .3s;
}
.personal-figcaption:hover {
    opacity: 1;
    background-color: rgba(0, 0, 0, .5);
}
.personal-figcaption > img {
    margin-top: 35px;
    width: 50px;
    height: 50px;
}
/*
*/
.personal-photo{
    height: 200px;
    width: 200px;
    top: 5%;
    left: 5%;
    transform: translate(-5%, -5%);
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid grey;
}
#photo{
    height: 100%;
    width: 100%;
}
#avatar{
    height: 100%;
    width: 100%;
}
#file{
    display: none;
}
#uploadBtn{
    height: 40px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
    color: wheat;
    line-height: 30px;
    font-family: sans-serif;
    font-size: 15px;
    cursor: pointer;
    display: none;
}
/*
Private message
*/

body{margin-top:20px;}

.chat-online {
    color: #34ce57
}

.chat-offline {
    color: #e4606d
}

.chat-messages {
    display: flex;
    flex-direction: column;
    max-height: 800px;
    overflow-y: scroll
}

.chat-message-left,
.chat-message-right {
    display: flex;
    flex-shrink: 0
}

.chat-message-left {
    margin-right: auto
}

.chat-message-right {
    flex-direction: row-reverse;
    margin-left: auto
}
.py-3 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.px-4 {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}
.flex-grow-0 {
    flex-grow: 0;
}
.border-top {
    border-top: 1px solid #dee2e6;
}



