<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/static/css/loginFront.css}"/>

</head>
<body>
<div th:replace="fragments/theme :: theme"></div>

<div class="container mt-5">
    <form th:method="POST" th:action="@{/savePassword}" th:object="${user}" >
        <div class="row content d-flex justify-content-center">
            <div class="col-md-5">
                <div class="box shadow bg-white p-4">
                    <form class="mb-3">
                        <h3 class="mb-4 text-center fs-1">Change Password</h3>

                        <div class="form-floating mb-3">
                            <label>Password:</label>
                            <input type="password" class="form-control"  name="password"  placeholder="Password..." th:errorclass="is-invalid">
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>

                        </div>
                        <div class="form-floating mb-3">
                            <label>Password:</label>
                            <input type="password" class="form-control"  name="rpassword"  placeholder="Repeat Password..." th:errorclass="is-invalid">
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('rpassword')}" th:errors="*{rpassword}"></div>
                        </div>

                        <input type="hidden" class="form-control" th:value="*{id}" name="id">
                        <input type="hidden" class="form-control" th:value="*{role}" name="role">
                        <input type="hidden" class="form-control" th:value="*{isEnabled}" name="isEnabled">
                        <input type="hidden" class="form-control" th:value="*{name}" name="name">
                        <input type="hidden" class="form-control" th:value="*{email}" name="email">

                        <button class="btn btn-primary" type="submit">Save</button>

                    </form>
                </div>
            </div>
        </div>
    </form>
</div>
</body>
</html>