<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/static/css/loginFront.css}"/>

</head>
<body>
<div th:replace="fragments/theme :: theme"></div>
<div class="d-flex justify-content-center mt-4">
    <h2>Hello in social network</h2>
    <div sec:authorize="!isAuthenticated()">
        <form th:action="@{/main/0}">
            <input type="submit" value="Login" class="btn logButton btn-info"/>
        </form>
    </div>
</div>


<!--<a th:href="@{main}"> <i  class="fas fa-edit" ></i></a>-->

</body>
</html>