<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" type="text/css" media="all" th:href="@{/static/css/loginFront.css}"/>

</head>
<body>
<div th:replace="fragments/theme :: theme"></div>

<section class="container mt-5">
    <div class="row content d-flex justify-content-center">
        <div class="col-md-5">
            <div class="box shadow bg-white p-4">
                <h3 class="mb-4 text-center fs-1">Your Email</h3>

                <div class="alert alert-danger" role="alert" th:if="${error} != null" th:text="${error}">
                </div>

                <form method="post" th:action="@{/forget}">
                    <div class="form-group">
                        <input name="email" required="required" type="email" placeholder="Write Email" class="form-control"/>
                    </div>
                    <div class="container text-center">
                        <button type="submit" class="btn btn-success">Send</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</section>
</body>
</html>