<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" th:src="@{/static/js/actions.js}"></script>

</head>
<body>
<div th:replace="fragments/theme :: theme"></div>
<div class="   mt-5 ml-lg-5" th:with="name = ${#authentication.principal.name}">
    <div class="main-body">
        <div class="row">
            <div class="col-lg-3">
                <div class="card">
                    <div class="card-body">
                        <div th:if="${name}">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img th:if= "${user.avatarName} == null"
                                 th:src="@{/static/icons/avatar.png}" width="150" height="150" class="rounded-circle mt-2 ml-1" alt="user" >
                            <img th:if= "${user.avatarName} != null"
                                 th:src="@{/static/icons/{av}(av=${user.avatarName})}" width="150" height="150" class="rounded-circle mt-2 ml-1" alt="user">                            <div class="mt-3">
                                <h1 class="text-center" th:text="*{user.name}"></h1>

                                <div th:if="${name} != ${user.name}" class="float-left">
                                    <div class="my-2" th:if="${isSubscriber} != true">
                                        <a class="btn btn-success" th:href="@{/user/follow/{id}(id=${id})}">Follow</a>
                                    </div>
                                    <div class="my-2" th:if="${isSubscriber} == true">
                                        <a class="btn btn-danger" th:href="@{/user/unfollow/{id}(id=${id})}">Unfollow</a>
                                    </div>
                                    <a class="btn btn-outline-primary" th:href="@{/userMessage/{id}(id=${user.id})}">Message</a>
                                </div>
                            </div>

                        </div>
                            <hr class="my-4">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                    <h6 class="mb-0"><img src="https://img.icons8.com/ios/50/000000/email-sign.png"  width="24" height="24"/>Email</h6>
                                    <span th:text="*{user.email}"></span>
                                </li>
                            </ul>

                            <ul class="list-group list-group-flush">
                                <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                    <div class="card-title">My subscriptions:</div>
                                    <h2 class="card-text">
                                        <a th:href="@{/user/subscriptions/{id}(id=${id})}" th:text="*{subscriptionsCount}"></a>
                                    </h2>
                                </li>
                            </ul><ul class="list-group list-group-flush">
                                <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                    <div class="card-title">My subscribers:</div>
                                    <h2 class="card-text">
                                        <a th:href="@{/user/subscribers/{id}(id=${id})}" th:text="*{subscribersCount}"></a>
                                    </h2>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 ">

                <div th:if="${user.name} == ${#authentication.principal.name}">
                    <div th:replace="fragments/saveMessage :: saveMessage"></div>
                </div>

                <!--        Pagination -->
                <nav aria-label="Page navigation example" class="mt-2" th:if="${totalPages} != 0">
                    <ul class="pagination">
                        <li th:if="${page != 0}" class="page-item"><a th:href="@{'/message/' + ${user.id} +'/' + ${page-1}}" class="page-link" >Previous</a></li>

                        <li th:classappend="${page == i-1 ? 'active': ''}" th:each="i : ${#numbers.sequence(1, totalPages)}" class="page-item">
                            <a class="page-link" th:href="@{'/message/' + ${user.id} +'/' + ${i-1}}"><span th:text="${i}"></span></a>
                        </li>

                        <li th:if="${page+1 != totalPages}" class="page-item"><a th:href="@{'/message/' + ${user.id} +'/' + ${page+1}}" class="page-link" >Next</a></li>
                    </ul>
                </nav>
                <!---              --->

                <div th:replace="fragments/allMessage :: list"></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>