<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/static/css/loginFront.css}"/>

</head>
<body>
<div th:replace="fragments/theme :: theme"></div>

<div class="container mt-5">

    <div class="col-md-5 mx-auto">
        <div class="alert alert-danger text-center" th:if="${infoAboutSaving != null}" th:text="${infoAboutSaving}">
        </div>
    </div>
    <div th:replace="fragments/common :: logForm(operation='Sign Up', path='/registration', isRegForm = false)">
     </div>
</div>


</body>
</html>