<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/static/css/style.css}"/>

</head>
<body>

<div th:replace="fragments/theme :: theme"></div>

<main class="content">
    <div class="container p-0">

        <h1 class="h3 mb-3 d-flex justify-content-center mt-2 mb-2">My Messages</h1>

        <div class="card">
            <div class="row g-0">
                <div class="col-12 col-lg-5 col-xl-3 border-right">

                    <a th:href="@{/userMessage/{id}(id=${receiver.id})}" class="list-group-item list-group-item-action border-0" th:each="receiver : ${receivers}"  th:if="${receiver.name} != ${#authentication.principal.name}">
                        <div class="d-flex align-items-start" >
                            <img th:if= "${receiver.avatarName} == null"
                                 th:src="@{/static/icons/avatar.png}" class="rounded-circle mr-1"  width="40" height="40"/>
                            <img th:if= "${receiver.avatarName} != null"
                                 th:src="@{/static/icons/{av}(av=${receiver.avatarName})}" class="rounded-circle mr-1"  width="40" height="40"/>
                            <div class="flex-grow-1 ml-3" th:text="*{receiver.name}">
                            </div>
                        </div>
                    </a>
                    <hr class="d-block d-lg-none mt-1 mb-0">
                </div>


                <div class="col-12 col-lg-7 col-xl-9">
                    <div class="py-2 px-4 border-bottom d-none d-lg-block">
                        <div class="d-flex align-items-center py-1" >
                            <div class="position-relative" >
                                <img th:if= "${#authentication.principal.avatarName} == null"
                                     th:src="@{/static/icons/avatar.png}" class="rounded-circle mr-1"  width="40" height="40"/>
                                <img th:if= "${#authentication.principal.avatarName} != null"
                                     th:src="@{/static/icons/{av}(av=${#authentication.principal.avatarName})}" class="rounded-circle mr-1"  width="40" height="40"/>
                            </div>
                            <div class="flex-grow-1 pl-3" th:text="${#authentication.principal.name}">
                            </div>
                        </div>
                    </div>
                              <div class="position-relative">
                                <div class="chat-messages p-4" >

                                    <div th:each="mes : ${message}">
                                        <div class="chat-message-right pb-4" th:if="${mes.sender.name} == ${#authentication.principal.name} and ${mes.receiver.name} == ${user.name}">
                                                <div>
                                                    <img th:if= "${#authentication.principal.avatarName} == null"
                                                         th:src="@{/static/icons/avatar.png}" class="rounded-circle mr-1"  width="40" height="40"/>
                                                    <img th:if= "${#authentication.principal.avatarName} != null"
                                                         th:src="@{/static/icons/{av}(av=${#authentication.principal.avatarName})}" class="rounded-circle mr-1"  width="40" height="40"/>
                                                    <div class="text-muted small text-nowrap mt-2" th:text="${mes.timestamp.year} + '-' + ${mes.timestamp.MonthValue} + '-' + ${mes.timestamp.DayOfMonth}"></div>
                                                    <div class="text-muted small text-nowrap mt-2" th:text="${mes.timestamp.hour} + ':' + ${mes.timestamp.minute} + ':' + ${mes.timestamp.second}"></div>
                                                </div>
                                                <div class="flex-shrink-1 bg-light rounded py-2 px-3 mr-3">
                                                    <a class="font-weight-bold mb-1" th:text="${mes.sender.name}" th:href="@{/message/{id}/0(id=${#authentication.principal.id})}"></a>
                                                    <a th:href="@{/userMessage/delete/{id}(id=${mes.id})}" onclick="if(!(confirm('Are you sure?'))) return false">
                                                        <span class="float-right " aria-hidden="true">&#215;</span>
                                                    </a>

                                                    <div class="font-weight-bold mb-1" th:text="${mes.text}"></div>
                                                </div>
                                        </div>

                                        <div class="chat-message-left pb-4" th:if="${mes.receiver.name} == ${#authentication.principal.name} and ${mes.sender.name} == ${user.name}">
                                            <div>
                                                <img th:if= "${user.avatarName} == null"
                                                     th:src="@{/static/icons/avatar.png}" class="rounded-circle mr-1"  width="40" height="40"/>
                                                <img th:if= "${user.avatarName} != null"
                                                     th:src="@{/static/icons/{av}(av=${user.avatarName})}" class="rounded-circle mr-1"  width="40" height="40"/>
                                                <div class="text-muted small text-nowrap mt-2" th:text="${mes.timestamp.year} + '-' + ${mes.timestamp.MonthValue} + '-' + ${mes.timestamp.DayOfMonth}"></div>
                                                <div class="text-muted small text-nowrap mt-2" th:text="${mes.timestamp.hour} + ':' + ${mes.timestamp.minute} + ':' + ${mes.timestamp.second}"></div>
                                            </div>
                                            <div class="flex-shrink-1 bg-light rounded py-2 px-3 ml-3">
                                                <a class="font-weight-bold mb-1" th:text="${user.name}" th:href="@{/message/{id}/0(id=${user.id})}"></a>
                                                <div class="font-weight-bold mb-1" th:text="${mes.text}"></div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                              </div>
                              <div class="flex-grow-0 py-3 px-4 border-top">
                                  <form th:method="POST" th:action="@{/userMessage}">
                                      <div class="input-group">
                                          <input type="text" class="form-control" name="text" placeholder="Write your message">
                                          <input type="hidden" class="form-control" th:value="*{user.id}" name="idReceiver">
                                          <input type="hidden" class="form-control" th:value="*{#authentication.principal.id}" name="idSender">

                                          <button type="submit" class="btn btn-primary">Send</button>
                                      </div>
                                  </form>
                              </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>